* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

/*BACKGROUND SHAPES*/

.shape {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

.shape1 {
  width: 350px;
  height: 350px;
  background: #0b2e59;
  top: -120px;
  left: -120px;
  opacity: 0.12;
}

.shape2 {
  width: 450px;
  height: 450px;
  background: #f7941d;
  bottom: -180px;
  right: -180px;
  opacity: 0.12;
}

.screen {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.6s ease;
}

.hidden {
  display: none;
}

/*WELCOME*/

.welcome-content {
  text-align: center;
  animation: fadeIn 1s ease;
}

.logo {
  font-size: 40px;
  font-weight: 700;
  color: #0b2e59;
  margin-bottom: 35px;
}

.logo span {
  color: #f7941d;
}

.welcome-content h1 {
  font-size: 56px;
  color: #0b2e59;
  margin-bottom: 12px;
}

.welcome-content h3 {
  color: #666;
  font-weight: 400;
  margin-bottom: 50px;
  letter-spacing: 1px;
}

.btn {
  border: none;
  outline: none;
  background: #f7941d;
  color: white;

  padding: 16px 45px;

  border-radius: 50px;

  font-size: 17px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;
}

.btn:hover {
  background: #df8414;

  transform: translateY(-4px);

  box-shadow: 0 12px 25px rgba(247, 148, 29, 0.35);
}

/*LOGIN CARD*/

.login-card {
  width: 430px;

  background: white;

  padding: 45px;

  border-radius: 20px;

  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);

  animation: slideUp 0.7s ease;
}

.login-card h1 {
  color: #0b2e59;

  margin-bottom: 8px;
}

.login-card p {
  color: #777;

  margin-bottom: 35px;
}

.input-group {
  margin-bottom: 25px;
}

.input-group label {
  display: block;

  margin-bottom: 10px;

  color: #333;

  font-weight: 500;
}

.input-box {
  display: flex;

  align-items: center;

  border: 1px solid #d9d9d9;

  border-radius: 10px;

  padding: 0 15px;

  height: 55px;

  transition: 0.3s;
}

.input-box:focus-within {
  border-color: #0b2e59;

  box-shadow: 0 0 8px rgba(11, 46, 89, 0.15);
}

.input-box i {
  color: #777;
}

.input-box input {
  width: 100%;

  border: none;

  outline: none;

  padding: 0 15px;

  font-size: 15px;

  background: transparent;
}

#togglePassword {
  cursor: pointer;
}

.login-btn {
  width: 100%;

  margin-top: 15px;
}

@keyframes fadeIn {
  from {
    opacity: 0;

    transform: translateY(30px);
  }

  to {
    opacity: 1;

    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;

    transform: translateY(40px);
  }

  to {
    opacity: 1;

    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .login-card {
    width: 90%;

    padding: 35px;
  }

  .logo {
    font-size: 32px;
  }

  .welcome-content h1 {
    font-size: 42px;
  }

  .welcome-content h3 {
    font-size: 18px;
  }
}
